/* Bloque */
.interactive-video-player {
  /* Gives context */
}

.interactive-video-player__content {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 50px);
}
